 body {
    background-color: #090a1c;
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoesTitulo  h1  p {
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 3px;
    color: #aa5cdb;
}

.informacoesTitulo {
color: #f5f3f7;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.informacoesTexto {
    color: #f5f3f7;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.imagem {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1px;
    height: 0.1%;
    width: 124%;
    background-size: contain;    
    position: relative;
    color: #aa5cdb;
}

main {
    width: 1000px;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    background-color: #1d1b3b;
    padding: 40px;
    margin: 70px auto;

}