body {
background-color:#0A0C1B ;
color: rgb(255, 255, 255);

.informacoes_quadrado > h1 > p {
    background-color: #1d1b3b;
    text-collor: #aa5cdb;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
color: #aa5cdb;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
body > section > .informacoes_quadrado > h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);
}
header {
    background-color: #0A0C1B;
    color: rgb(160, 28, 28);
    padding: 20px;
    text-align: center;
}
.imagem {
    display: flex;
    justify-content: right;
    align-items: right; 
    margin-top: 10px;
}
main {
    width: 1000px;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    background-color: #1d1b3b;
    padding: 40px;
    margin: 0 auto;
    

}