body {
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
min-height: 100vh;
align-items: center;
background-color: #090b1a;

}

.informacoesTitulo > h1 {
padding: 15px;
border-radius: 0px;
margin-bottom: 0px;
color: white;
font-size: 30px;
}

.informacoesTitulo {
text-align: left;
font-family: 'Arial', sans-serif;
color: white;
font-size: 15px;
 line-height: 1.2;
margin-bottom: 20px;
}

.informacoesTexto {
color: white;
 text-align: left;
font-family: 'Arial', sans-serif;
font-size: 15px;
line-height: 1.2;
margin-bottom: 20px;
}

#informacoes_baixo {
align-items: center;
display: flex;
 gap: 40px;
 color: white;

}

#informacoes_baixo > h3 {
color: white;
 margin-bottom: 5px;
 font-size: 20px;
}

#informacoes_baixo > p {
color: white;
font-size: 10px;
margin-top: 0px;
}
 

main {
display: flex;
overflow: hidden;
height: 400px;
width: 1000px;
border-radius: 6px;
background-color: #1c1a38;
padding: 0;
margin: 100px auto;
}
.informacoes_quadrado {
box-sizing: border-box;
width: 50%;
padding: 40px;

}


.imagem {
width: 50%;
height: 100%;
color: #090b1a;
background-color: #1c1a38;
image-color:#1c1a38;

}

.imagem img {
width: 100%;
height: 100%;
object-fit: cover;
}

@media (max-width: 600px) {

 main {
 width: 90%;
 height: auto;
 flex-direction: column;
}

.imagem {
width: 100%;
height: 240px;
}

.informacoes_quadrado {
width: 100%;
text-align: center;
}

.informacoesTexto {
text-align: center;
}

#informacoes_baixo {
flex-direction: column;

}
}